<ul> 
  <% @zones.each do |zone| %> 
    <h3><%= zone.name %><%=link_to "Show more", zone_path(zone.id)%></h3> 
  <% end %> 
</ul> 
<h5><%=link_to("Martial Art Schools",gims_path)%><h5>
<h5><%=link_to("Martial Arts",martial_arts_path)%><h5>
<h5><%=link_to "Back to menu", root_path%><h5>
