<ul> 
  <% @martial_arts.each do |art| %> 
    <h3><%= art.name %><%=link_to "Show more", martial_art_path(art.id)%></h3> 
    <li><%= art.description %></li> 
    
  <% end %> 
</ul> 

<h5><%=link_to("Martial Art Schools",gims_path)%><h5>
<h5><%=link_to("Zones to practise",zones_path)%><h5>
<h5><%=link_to "Back to menu", root_path%><h5>
