<h3><%= @martial_art.name %></h3> 
<% @martial_art.zones.each do |zone| %>
	<h5> <%= zone.name %>  </h5> 
<% end %> 
<h5><%=link_to("Martial Art Schools",gims_path)%><h5>
<h5><%=link_to("Martial Arts",martial_arts_path)%><h5>
<h5><%=link_to "Back to menu", root_path%><h5>